



html, body {
  position: relative;
  height: 100%;
  font-size: 10px;
}
body {
  
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

.wall-container {
	width: 100%;
	height: 100%;
	background: url(../img/defaultbg.jpg) no-repeat;
	padding-top: 100px;
	box-sizing: border-box;
}

/*小的滚动卡片的布局*/
/*.swiper-container {
  width: 80%;
  height: 85%;
  margin: 0 auto;
  visibility: visible;
}*/
.swiper-container {
  width: 80%;
  height: 85%;
  margin: 0 auto;
}

.swiper-container .swiper-slide {
   background-color:rgba(255, 255, 255, .33);
   /*display: flex;*/
   /*align-items: center;*/
   color: #4B9E09;
   border-radius: 3px;
}
/*每一个微信墙卡片当中的内容*/
.swiper-slide .u-head {
	width: auto;
	height: 90%;
	/*min-width: 80px;
	max-width: 180px;*/
	border-radius: 50%;
	border: 1px solid #fff;
	overflow: hidden;
	position: relative;
	margin-left: 15px;
	float:left;

}

.swiper-slide .u-head img{
	/*width: 100%;*/
	height: 100%;
}
.swiper-slide .u-head .nickname-bg{
	width: 100%;
	height:32%;
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,.6);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;


}

.swiper-slide .nickname-bg .u-nickname {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;

	/*line-height: 2.5;*/
}

.swiper-slide .msg-contain {
	font-size: 40px;
	height: 100%;
	align-items: center;
	float:left;
	overflow: hidden;
	
}

.swiper-slide .msg-contain .u-msgword {
	height: 100%;
    word-break:break-all; /*支持IE，chrome，FF不支持*/
　　word-wrap:break-all;/*支持IE，chrome，FF*/
    /*white-space:nowrap;*/
    overflow: hidden;
    text-overflow:ellipsis;
}



/*大盒子的布局*/
.swiper-container .big {
    position: absolute;
    top: 100px;
    left: 10%;
}

.swiper-container .big .swiper-slide{
	background-color:rgba(255, 255, 255, .22);
}

.swiper-container .big .line {
	height: 3px;
	background-color: rgba(255, 255, 255, .66);
	margin: 20px 5px;
}
.swiper-container .line {
	display: none;
}
.control-btn {
	position: absolute;
	z-index: 99;
	bottom: 0;
	left: 0;
}

.swiper-container-big .msg-contain .u-msgword {
	align-items: flex-start;
	color: #4B9E09;
}
.swiper-container-big .header {
	height: 200px;
	font-size: 66px;
	color: #4B9E09;
	line-height: 200px;
}

.swiper-container-big .header img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border:1px solid #fff;
	line-height: 200px;
	vertical-align: middle;
	margin-right: 20px;
	margin-left: 20px;
}

